Gemfile.lock
vim/bundle
vim/plugged
vim/autoload
vim/.netrwhist
vim/colors

.apps/sublime/User/Package Control.last-run
.apps/sublime/User/Package Control.ca-list
.apps/sublime/User/Package Control.ca-bundle
.apps/sublime/User/Package Control.system-ca-bundle
.apps/sublime/User/Package Control.cache
.apps/sublime/User/Package Control.ca-certs
.apps/sublime/User/SublimeLinter (old).sublime-settings
