Gemfile.lock
vim/bundle/*
vim/.netrwhist

.apps/sublime/Package Control.last-run
.apps/sublime/Package Control.ca-list
.apps/sublime/Package Control.ca-bundle
.apps/sublime/Package Control.system-ca-bundle
.apps/sublime/Package Control.cache/
.apps/sublime/Package Control.ca-certs/
